USE [master]
GO
/****** Object:  Database [WageFlowDataBase]    Script Date: 20.05.2025 16:07:36 ******/
CREATE DATABASE [WageFlowDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WageFlowDataBase', FILENAME = N'D:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WageFlowDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WageFlowDataBase_log', FILENAME = N'D:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\WageFlowDataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WageFlowDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WageFlowDataBase]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id_payments] [int] IDENTITY(1,1) NOT NULL,
	[amount_payments] [real] NOT NULL,
	[comment] [nvarchar](50) NOT NULL,
	[date_payments] [date] NOT NULL,
	[id_staff] [int] NOT NULL,
	[id_payments_type] [int] NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[id_payments] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments_Type]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments_Type](
	[id_payments_type] [int] IDENTITY(1,1) NOT NULL,
	[name_payments_type] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Payments_Type] PRIMARY KEY CLUSTERED 
(
	[id_payments_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[id_post] [int] IDENTITY(1,1) NOT NULL,
	[name_post] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary_Payment]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary_Payment](
	[id_salary_payment] [int] IDENTITY(1,1) NOT NULL,
	[amount_salary_payment] [real] NOT NULL,
	[start_date_salary_payment] [date] NOT NULL,
	[end_date_salary_payment] [date] NOT NULL,
	[date_salary_payment] [date] NOT NULL,
	[id_staff] [int] NOT NULL,
 CONSTRAINT [PK_Salary_Payment] PRIMARY KEY CLUSTERED 
(
	[id_salary_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[id_staff] [int] IDENTITY(1,1) NOT NULL,
	[lastname_staff] [nvarchar](50) NOT NULL,
	[name_staff] [nvarchar](50) NOT NULL,
	[patronymic_staff] [nvarchar](50) NOT NULL,
	[email_staff] [nvarchar](50) NOT NULL,
	[id_post] [int] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](30) NOT NULL,
	[user_password] [nvarchar](30) NOT NULL,
	[id_staff] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Entry]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Entry](
	[id_work_entry] [int] IDENTITY(1,1) NOT NULL,
	[quantity_work_entry] [int] NOT NULL,
	[date_work_entry] [date] NOT NULL,
	[id_staff] [int] NOT NULL,
	[id_work_type] [int] NOT NULL,
 CONSTRAINT [PK_Work_Entry] PRIMARY KEY CLUSTERED 
(
	[id_work_entry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Type]    Script Date: 20.05.2025 16:07:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Type](
	[id_work_type] [int] IDENTITY(1,1) NOT NULL,
	[name_work_type] [nvarchar](50) NOT NULL,
	[amount_work_type] [real] NOT NULL,
 CONSTRAINT [PK_Work_Type] PRIMARY KEY CLUSTERED 
(
	[id_work_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id_payments], [amount_payments], [comment], [date_payments], [id_staff], [id_payments_type]) VALUES (1, 10000, N'Выполнение проекта раньше срока', CAST(N'2025-03-23' AS Date), 1, 1)
INSERT [dbo].[Payments] ([id_payments], [amount_payments], [comment], [date_payments], [id_staff], [id_payments_type]) VALUES (2, 6000, N'Отличная работа с клиентами или бизнес-заказчиком', CAST(N'2025-03-23' AS Date), 1, 1)
INSERT [dbo].[Payments] ([id_payments], [amount_payments], [comment], [date_payments], [id_staff], [id_payments_type]) VALUES (3, 5000, N'Игнорирование код-ревью и замечаний команды', CAST(N'2025-03-21' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments_Type] ON 

INSERT [dbo].[Payments_Type] ([id_payments_type], [name_payments_type]) VALUES (1, N'Премирование')
INSERT [dbo].[Payments_Type] ([id_payments_type], [name_payments_type]) VALUES (2, N'Депремирование')
SET IDENTITY_INSERT [dbo].[Payments_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([id_post], [name_post]) VALUES (1, N'Руководитель')
INSERT [dbo].[Post] ([id_post], [name_post]) VALUES (2, N'Менеджер')
INSERT [dbo].[Post] ([id_post], [name_post]) VALUES (3, N'Сотрудник')
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary_Payment] ON 

INSERT [dbo].[Salary_Payment] ([id_salary_payment], [amount_salary_payment], [start_date_salary_payment], [end_date_salary_payment], [date_salary_payment], [id_staff]) VALUES (6, 78000, CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date), CAST(N'2024-02-01' AS Date), 1)
INSERT [dbo].[Salary_Payment] ([id_salary_payment], [amount_salary_payment], [start_date_salary_payment], [end_date_salary_payment], [date_salary_payment], [id_staff]) VALUES (7, 57000, CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date), CAST(N'2024-02-01' AS Date), 2)
INSERT [dbo].[Salary_Payment] ([id_salary_payment], [amount_salary_payment], [start_date_salary_payment], [end_date_salary_payment], [date_salary_payment], [id_staff]) VALUES (8, 64000, CAST(N'2024-01-01' AS Date), CAST(N'2024-02-01' AS Date), CAST(N'2024-02-01' AS Date), 3)
GO
SET IDENTITY_INSERT [dbo].[Salary_Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([id_staff], [lastname_staff], [name_staff], [patronymic_staff], [email_staff], [id_post]) VALUES (1, N'Проказников', N'Илья', N'Владимирович', N'prokaznikov@example.com', 1)
INSERT [dbo].[Staff] ([id_staff], [lastname_staff], [name_staff], [patronymic_staff], [email_staff], [id_post]) VALUES (2, N'Иванов', N'Олег', N'Кирилович', N'ivanov@example.com', 2)
INSERT [dbo].[Staff] ([id_staff], [lastname_staff], [name_staff], [patronymic_staff], [email_staff], [id_post]) VALUES (3, N'Карпов', N'Денис', N'Викторович', N'karpov@example.com', 3)
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id_user], [user_name], [user_password], [id_staff]) VALUES (1, N'prokaznikov_iv', N'12345', 1)
INSERT [dbo].[User] ([id_user], [user_name], [user_password], [id_staff]) VALUES (2, N'ivanov_ok', N'12345', 2)
INSERT [dbo].[User] ([id_user], [user_name], [user_password], [id_staff]) VALUES (3, N'karpov_dv', N'12345', 3)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Work_Entry] ON 

INSERT [dbo].[Work_Entry] ([id_work_entry], [quantity_work_entry], [date_work_entry], [id_staff], [id_work_type]) VALUES (1, 2, CAST(N'2025-03-23' AS Date), 1, 13)
INSERT [dbo].[Work_Entry] ([id_work_entry], [quantity_work_entry], [date_work_entry], [id_staff], [id_work_type]) VALUES (2, 1, CAST(N'2025-03-21' AS Date), 1, 2)
INSERT [dbo].[Work_Entry] ([id_work_entry], [quantity_work_entry], [date_work_entry], [id_staff], [id_work_type]) VALUES (3, 4, CAST(N'2025-03-17' AS Date), 1, 9)
GO
SET IDENTITY_INSERT [dbo].[Work_Entry] OFF
GO
SET IDENTITY_INSERT [dbo].[Work_Type] ON 

INSERT [dbo].[Work_Type] ([id_work_type], [name_work_type], [amount_work_type]) VALUES (1, N'Разработка REST API', 5000)
INSERT [dbo].[Work_Type] ([id_work_type], [name_work_type], [amount_work_type]) VALUES (2, N'Разработка бэкенда для веб-приложения', 20000)
INSERT [dbo].[Work_Type] ([id_work_type], [name_work_type], [amount_work_type]) VALUES (3, N'Разработка WPF-приложения', 10000)
SET IDENTITY_INSERT [dbo].[Work_Type] OFF
GO
/****** Object:  Index [IX_Payments_id_payments]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_id_payments] ON [dbo].[Payments]
(
	[id_payments] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_id_payments_type]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_id_payments_type] ON [dbo].[Payments]
(
	[id_payments_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_id_staff]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_id_staff] ON [dbo].[Payments]
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_Type_id_payments_type]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Payments_Type_id_payments_type] ON [dbo].[Payments_Type]
(
	[id_payments_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Post_id_post]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Post_id_post] ON [dbo].[Post]
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salary_Payment_id_salary_payment]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Salary_Payment_id_salary_payment] ON [dbo].[Salary_Payment]
(
	[id_salary_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Salary_Payment_id_staff]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_Salary_Payment_id_staff] ON [dbo].[Salary_Payment]
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staff_id_post]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_Staff_id_post] ON [dbo].[Staff]
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Staff_id_staff]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Staff_id_staff] ON [dbo].[Staff]
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_id_staff]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_User_id_staff] ON [dbo].[User]
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_id_user]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User_id_user] ON [dbo].[User]
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Work_Entry_id_staff]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_Work_Entry_id_staff] ON [dbo].[Work_Entry]
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Work_Entry_id_work_entry]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Work_Entry_id_work_entry] ON [dbo].[Work_Entry]
(
	[id_work_entry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Work_Entry_id_work_type]    Script Date: 20.05.2025 16:07:36 ******/
CREATE NONCLUSTERED INDEX [IX_Work_Entry_id_work_type] ON [dbo].[Work_Entry]
(
	[id_work_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Work_Type_id_work_type]    Script Date: 20.05.2025 16:07:36 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Work_Type_id_work_type] ON [dbo].[Work_Type]
(
	[id_work_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Payments_Type_id_payments_type] FOREIGN KEY([id_payments_type])
REFERENCES [dbo].[Payments_Type] ([id_payments_type])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Payments_Type_id_payments_type]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Staff_id_staff] FOREIGN KEY([id_staff])
REFERENCES [dbo].[Staff] ([id_staff])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Staff_id_staff]
GO
ALTER TABLE [dbo].[Salary_Payment]  WITH CHECK ADD  CONSTRAINT [FK_Salary_Payment_Staff_id_staff] FOREIGN KEY([id_staff])
REFERENCES [dbo].[Staff] ([id_staff])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salary_Payment] CHECK CONSTRAINT [FK_Salary_Payment_Staff_id_staff]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Post_id_post] FOREIGN KEY([id_post])
REFERENCES [dbo].[Post] ([id_post])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Post_id_post]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Staff_id_staff] FOREIGN KEY([id_staff])
REFERENCES [dbo].[Staff] ([id_staff])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Staff_id_staff]
GO
ALTER TABLE [dbo].[Work_Entry]  WITH CHECK ADD  CONSTRAINT [FK_Work_Entry_Staff_id_staff] FOREIGN KEY([id_staff])
REFERENCES [dbo].[Staff] ([id_staff])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work_Entry] CHECK CONSTRAINT [FK_Work_Entry_Staff_id_staff]
GO
ALTER TABLE [dbo].[Work_Entry]  WITH CHECK ADD  CONSTRAINT [FK_Work_Entry_Work_Type_id_work_type] FOREIGN KEY([id_work_type])
REFERENCES [dbo].[Work_Type] ([id_work_type])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work_Entry] CHECK CONSTRAINT [FK_Work_Entry_Work_Type_id_work_type]
GO
USE [master]
GO
